automationName=XCUITest
platformName=iOS
platformVersion=10.3.2
deviceName=iPhone 7 Plus
fullReset=true
udid=deb5f7519f80f6af1669f92c188054115d43afaf
xcodeOrgID=89VVTFUSLW
xcodeSigningId=iPhone Developer
agentPath=/usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent/WebDriverAgent.xcodeproj
bootstrapPath=/usr/local/lib/node_modules/appium/node_modules/appium-xcuitest-driver/WebDriverAgent
app=/Users/public/Desktop/FLEX 2017-08-18.ipa